@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

$font: 'Ubuntu', sans-serif;
$font2: 'Tenor Sans', sans-serif;

html, body, div, span, p, a, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, table, tr, th, td, thead, tbody, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, article, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.red{
    color: #E72028;
}

.covid{
    &-header{
        position: relative;
        min-height: 1020px;
    }
    &__title{
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 160%;
        letter-spacing: 1px;
        color: #131313;
        &_btns{
            display: flex;
        }
        .red-text{
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 160%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #E72028;
        }
        &_box{
            height: 100px;
            width: 523px;
            background-image: url(../images/btn-1.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -8px;
            &-text{
                font-family: $font;
                font-style: normal;
                font-weight: normal;
                font-size: 46px;
                letter-spacing: 1px;
                color: #FFFFFF;
                padding: 4px 100px 4px 29px;
                text-transform: uppercase;
                span{
                    color: #E72028;
                }
            }
        }
        &_btn{
            width: 366px;
            height: 100px;
            background-image: url(../images/btn-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -55px;
            position: relative;
            a{
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                text-decoration: none;
                padding: 35px 88px 32px 100px;
                position: absolute;
                top: 0;
                right: 0;
            }
            &_2{
                display: none;
                a{
                    font-family: "Ubuntu", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #2758C7;
                    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    padding: 20px 57px;
                }
            }
        }
        &_section{
            display: flex;
        }
    }
    &-plus{
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../images/plus.png);
        &_1, &_2, &_3, &_4, &_5{
            cursor: pointer;
            &:hover{
                .covid-plus_desc{
                    display: block;
                }
            }
        }
        &_1{
            top: 114px;
            left: 5px;
        }
        &_2{
            top: 251px;
            left: 79px;
        }
        &_3{
            top: 114px;
            left: 92px;
        }
        &_4{
            top: 269px;
            right: 108px;
        }
        &_5{
            top: 76px;
            right: 88px;
        }
        &_desc{
            display: none;
            position: absolute;
            left: 13px;
            bottom: 16px;
            transform: translateX(-50%);
            width: 200px;
            height: 79px;
            background-image: url(../images/desс.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            &-text{
                font-family: $font;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;
                text-align: center;
                letter-spacing: 0.01em;
                color: #FFFFFF;
                padding-top: 20px;
            }
        }
    }
    &-section{
        position: relative;
        &__title{
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 52px;
            line-height: 60px;
            color: #131313;
            span{
                color: #E72028;
                text-transform: uppercase;
            }
        }
        &__img{
            &-1{
                img{
                    position: absolute;
                    width: 48%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                    top: -40px;
                    right: -1px;
                }
            }
            &-2{
                width: 351px;
                height: auto;
                margin-right: 100px;
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                    object-position: center;
                    object-fit: cover;
                }
            }
        }
        &__text{
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
            color: #212529;
            margin-top: 40px;
        }
        &__row{
            display: flex;
            margin: 140px 0 120px 0;
            .covid-section__box{
                width: calc(100% - 451px);
            }
        }
    }
    &__list{
        margin: 40px 0 60px 0;
        &-item{
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 120%;
            color: #212529;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            padding-left: 80px;
            position: relative;
            &_num{
                font-family: $font2;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 47px;
                color: #212529;
                position: absolute;
                left: 0;
            }
            &:before{
                content: '';
                height: 42px;
                border: 1px solid #212529;
                position: absolute;
                left: 60px;
            }
        }

    }
    &__btns{
        display: flex;
    }
    &__btn{
        &-1{
            width: 304px;
            height: 76px;
            background-image: url(../images/btn-3.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -8px;
            position: relative;
            a{
                position: absolute;
                top: 24px;
                left: 72px;
            }
        }
        &-2{
            width: 246px;
            height: 76px;
            background-image: url(../images/btn-4.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -12px;
            position: relative;
            a{
                position: absolute;
                right: 61px;
                top: 24px;
            }
        }
    }
    &__link{
        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &-box{
        margin-bottom: 140px;
        &__row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 20px 0;
        }
        &__section{
            display: flex;
            align-items: center;
            width: 617px;
            justify-content: space-between;
            &_text{
                font-family: $font;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 120%;
                text-align: right;
                color: #212529;

            }
        }
        &__btn{
            width: 226px;
            height: 60px;
            background-image: url(../images/btn-5.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: -8px;
            position: relative;
            a{
                position: absolute;
                top: 24px;
                left: 29px;
            }
        }
        &__list{
            margin-top: 40px;
            &_title{
                font-family: $font;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 160%;
                letter-spacing: 1px;
                color: #2758C7;
                margin-bottom: 20px;
            }
            &-row{
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            &-item{
                font-family: $font;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                color: #131313;
            }
            &-text{
                font-family: $font;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 140%;
                color: #131313;
                margin-top: -10px;
            }
        }
        &__dots{
            flex: 1 0;
            border-bottom: 1px dashed #000;
        }
    }
    &-price{
        font-family: $font2;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        color: #131313;
        flex-basis: 228px;
    }
}

.bg{
    &__img{
        &-1{
            width: 12%;
            height: auto;
            position: relative;
            z-index: 1;
            img{
                width: 100%;
                position: absolute;
                top: -303px;
                left: 0px;
            }
        }
        &-2{
            width: 48%;
            height: auto;
            position: relative;
            z-index: 0;
            img{
                width: 100%;
                position: absolute;
                top: 60px;
                left: 0px;
            }
        }
        &-3{
            width: 40%;
            height: auto;
            position: relative;
            img{
                width: 100%;
                position: absolute;
                top: -240px;
                transform: translateX(-100%);
                right: -100vw;
                z-index: 0;
            }
        }
    }
}

.red{
    color: #E72028;
}