$font: 'Ubuntu', sans-serif;

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.covid{
    position: relative;

    &__title{
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 160%;
        letter-spacing: 1px;
        color: #131313;
        &_btns{
            display: flex;
        }
        .red{
            font-family: $font;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 160%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #E72028;
        }
        &_btn{
            font-family: $font;
            font-style: normal;
            font-weight: normal;
            font-size: 46px;
            line-height: 160%;
            letter-spacing: 1px;
            color: #FFFFFF;
            background: #333333;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            padding: 3px 70px 3px 20px;
            text-transform: uppercase;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -63px;
                border-style: solid;
                border-width: 83px 65px 0 0;
                border-color: #333333 transparent transparent transparent;
            }
            span{
                color: #E72028;
            }
            a{
                background: #2758C7;
                box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -63px;
                    border-style: solid;
                    border-width: 83px 65px 0 0;
                    border-color: #333333 transparent transparent transparent;
                }
            }
        }
    }
}